<div class="container-fluid bg-dark flexHeader">
    <h4 class="text-white"><a class="text-white" routerLink="home">Clinica - Torrez</a></h4>
    <nav>
        <ul class="list-unstyled list-inline">
            <!-- <li class="list-inline-item p-3" *ngIf="(this.usuario | async)?.mail">
                <p class="text-white">{{(this.usuario | async)?.mail}}</p>
            </li> -->
            <!-- <li class="list-inline-item p-3" *ngIf="!this.usu?.email"> -->
            <li class="list-inline-item p-3" *ngIf="this.usu?.mail">
                <p class="text-white">{{this.usu?.mail}}</p>
            </li>
            <li class="list-inline-item p-3" *ngIf="!this.usu?.mail">
                <a class="text-white" routerLink="login">Ingresar</a>
            </li>
            <li class="list-inline-item p-3" *ngIf="!this.usu?.mail">
                <a class="text-white" routerLink="registro">Registrarse</a>
            </li>
            <li class="list-inline-item p-3" *ngIf="this.usu?.perfil == 'administrador'">
                <a class="text-white" routerLink="usuarios">Usuarios</a>
            </li>
            <li class="list-inline-item p-3" *ngIf="this.usu?.mail">
                <a class="text-white" routerLink="misTurnos">Mis Turnos</a>
            </li>
            <li class="list-inline-item p-3" *ngIf="this.usu?.mail">
                <a class="text-white" routerLink="perfil">Perfil</a>
            </li>
            <li class="list-inline-item p-3" *ngIf="(this.usu?.perfil == 'administrador') || (this.usu?.perfil == 'paciente')">
                <a class="text-white" routerLink="solTur">Solicitar Turnos</a>
            </li>
            <li class="list-inline-item p-3">
                <a class="text-white" routerLink="pacientes">Pacientes</a>
            </li>
            <li class="list-inline-item p-3">
                <a class="text-white" routerLink="graficos">Graficos</a>
            </li>
            <li class="list-inline-item p-3" *ngIf="this.usu?.mail">
                <a class="text-white" routerLink="home" (click)="this.salir()">Salir</a>
            </li>
        </ul>
    </nav>
</div>

