<div class="contenedor">
    <div class="contenedor__imagen">
        <h1 class="imagen__texto">Bienvenido a la</h1>
        <h1 class="imagen__texto">Clinica Torrez</h1>
    </div>
    
    <div class="contenedor__info">
        <h3>Ubicacion Centro Médico</h3>
        <div class="info__imagen">
            <img src="../../../assets/mapa.png" alt="Img Mapa" style="width: 30px; height: 30px;">
            <p>Calle Falsa 123, Vicente López</p>
        </div>
        
        <div class="info__imagen">
            <img src="../../../assets/telefono.png" alt="Img Telefono" style="width: 25px; height: 25px;">
            <p>0810 222 2748 (Administracion)</p>
        </div>
        
        <p>Atención con turno previo: Lunes a Viernes de 8 a 19 hs. - Sábados de 8 a 14 hs.</p>
        
        <h5>¿Como llego?</h5>
        <div class="info__imagen">
            <img src="../../../assets/colectivo.png" alt="Img Colectivo" style="width: 25px; height: 25px;">
            <p>Colectivos: 19, 21, 60, 71, 130, 151, 152, 161, 168, 184, 203, 314, 365, 410, 430</p>
        </div>
        <div class="info__imagen">
            <img src="../../../assets/tren.png" alt="Img Tren" style="width: 25px; height: 25px;">
            <p>Tren: Mitre - Estación "Vicente López" / Belgrano Norte - Estación "Aristóbulo del Valle"</p>
        </div>
    </div>
</div>


