.contenedor{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__imagen{
    background-image: url(../../../assets/hospital.jpg); 
    width: 70em;
    height: 14em;
    padding: 2em;
}

.imagen__texto{
    display: flex;
    justify-content: center;
}

.contenedor__info{
    margin-top: 1em;
}

.info__imagen{
    display: flex;
}