.contenedor{
    margin-top: 1em;
    /* background-color: aqua; */
}

.perfil__imagen{
    width: 10em;
    height: 10em;
}

.contenedor__horarios{
    /* background-color: blueviolet; */
    background-color: transparent;

}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}