<img class="mt-5 pt-5 h-25 w-25" src="./assets/spinner.gif" alt="spinner" *ngIf="this.spinner == true">
<div class="contenedor" *ngIf="this.spinner == false && !this.modal">
    <div class="contenedor__perfil">
        <img class="perfil__imagen" [src]="this.usu?.foto" alt="Img Perfil">
        <p>Nombre: {{this.usu?.nombre}}</p>
        <p>Apellido: {{this.usu?.apellido}}</p>
        <p>Edad: {{this.usu?.edad}}</p>
        <p>DNI: {{this.usu?.dni | dni}}</p>

        <div [ngSwitch]="this.usu?.perfil">
            <div *ngSwitchCase="'paciente'">
                <p>Obra Social: {{this.usu?.obraSocial}}</p>
                <p>Historial Clinico: </p><button (click)="this.abrir()">Ver</button>
            </div>
            <div *ngSwitchCase="'especialista'">
                <p>Especialidad: {{this.usu?.especialidad}}</p>
            </div>
        </div>
    </div>

    <div class="contenedor__horarios">
        <button *ngIf="this.usu?.perfil == 'especialista'" (click)="this.mostrarHorarios()">Mis horarios</button><br><br>

        <div *ngIf="this.horarios">
            <button *ngFor="let esp of this.usu?.especialidad" (click)="this.seleccionEsp(esp, $event)">{{esp}}</button>
        
            <div *ngIf="this.especialidadSeleccionada != ''">
                <label>Lunes: </label><button
                    (click)="this.validarHorario($event, 'primero', 'Lunes', this.especialidadSeleccionada)">08:00 a
                    13:00</button><button
                    (click)="this.validarHorario($event, 'segundo', 'Lunes', this.especialidadSeleccionada)">13:00 a
                    19:00</button>
                <br><br>
                <label>Martes: </label><button
                    (click)="this.validarHorario($event, 'primero', 'Martes', this.especialidadSeleccionada)">08:00 a
                    13:00</button><button
                    (click)="this.validarHorario($event, 'segundo', 'Martes', this.especialidadSeleccionada)">13:00 a
                    19:00</button>
                <br><br>
                <label>Miercoles: </label><button
                    (click)="this.validarHorario($event, 'primero', 'Miercoles', this.especialidadSeleccionada)">08:00 a
                    13:00</button><button
                    (click)="this.validarHorario($event, 'segundo', 'Miercoles', this.especialidadSeleccionada)">13:00 a
                    19:00</button>
                <br><br>
                <label>Jueves: </label><button
                    (click)="this.validarHorario($event, 'primero', 'Jueves', this.especialidadSeleccionada)">08:00 a
                    13:00</button><button
                    (click)="this.validarHorario($event, 'segundo', 'Jueves', this.especialidadSeleccionada)">13:00 a
                    19:00</button>
                <br><br>
                <label>Viernes: </label><button
                    (click)="this.validarHorario($event, 'primero', 'Viernes', this.especialidadSeleccionada)">08:00 a
                    13:00</button><button
                    (click)="this.validarHorario($event, 'segundo', 'Viernes', this.especialidadSeleccionada)">13:00 a
                    19:00</button>
                <br><br>
                <label>Sabado: </label><button
                    (click)="this.validarHorario($event, 'primero', 'Sabado', this.especialidadSeleccionada)">08:00 a
                    11:00</button><button
                    (click)="this.validarHorario($event, 'segundo', 'Sabado', this.especialidadSeleccionada)">11:00 a
                    14:00</button>
            </div>
            <button *ngIf="this.arrayDias.length != 0" (click)="this.guardar()">Guardar</button>
        </div>
    </div>
</div>
<ng-container *ngIf="this.modal">
    <dialog id="modal" [open]="this.modal">
        <app-histclinico [mailP]="this.usu?.mail" (salirH)="this.salir()"></app-histclinico>
    </dialog>
</ng-container>