button{
    margin-right: .5em;
}

.imagen{
    width: 5em;
    height: 5em;
}

.verde
{
    border: 3px solid green;
    /* background-color: green; */
}

.rojo
{
    border: 3px solid red;
    /* background-color: red; */
}

.violeta
{
    border: 3px solid violet;
    /* background-color: violet; */
}

.celeste
{
    border: 3px solid aqua;
    /* background-color: aqua; */
}

.amarillo
{
    border: 3px solid yellow;
    /* background-color: yellow; */
}

.foto{
    height: 6em;
    width: 6em;
    background-size: cover;
    text-shadow: white -.05em -.05em;
    color: red;
    font-weight: 600; 
}

.foto2{
    /* font-size: 0.8em; */
    position: relative;
    top: -2.43em;
}